.carrusel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: 2rem auto;
}

.carrusel {
  display: flex;
  transition: transform 0.5s ease;
  gap: 2rem;
  padding: 0 3rem;
}

.proyecto {
  min-width: 800px;
  background: #1f2833;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(102, 252, 241, 0.1);
  transition: transform 0.3s;
  padding: 2rem;
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
}

.proyecto img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.proyecto:hover {
  transform: scale(1.05);
}

.carrusel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(32, 45, 54, 0.8);
  color: #66fcf1;
  border: none;
  font-size: 2rem;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(102, 252, 241, 0.2);
}

.carrusel-btn svg {
  width: 30px;
  height: 30px;
}

.carrusel-btn:hover {
  background-color: rgba(102, 252, 241, 0.2);
  color: #ffffff;
  box-shadow: 0 0 20px rgba(102, 252, 241, 0.6);
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

@media (max-width: 600px) {
  .carrusel-container {
    max-width: 100%;
  }

  .proyecto {
    min-width: 90vw;
  }

  .prev {
    left: -10px;
  }

  .next {
    right: -10px;
  }
}
